Project2/Project2.sln
Project2/.vs/Project2/v16/.suo
Project2/.vs/Project2/v16/Browse.VC.db
Project2/.vs/Project2/v16/Browse.VC.db-shm
Project2/.vs/Project2/v16/Browse.VC.db-wal
Project2/.vs/Project2/v16/Browse.VC.opendb
Project2/.vs/Project2/v16/ipch/AutoPCH/fe2f5b9adca8112b/MAIN.ipch
Project2/Project2/Project2.vcxproj
Project2/Project2/Project2.vcxproj.filters
Project2/Project2/Project2.vcxproj.user
Project2/Project2/x64/Debug/ImageViewer.obj
Project2/Project2/x64/Debug/main.obj
Project2/Project2/x64/Debug/moc_ImageViewer.obj
Project2/Project2/x64/Debug/moc_NewImageDialog.obj
Project2/Project2/x64/Debug/moc_ObjectLayers.obj
Project2/Project2/x64/Debug/moc_Project2.obj
Project2/Project2/x64/Debug/moc_ViewerWidget.obj
Project2/Project2/x64/Debug/Project2.exe.recipe
Project2/Project2/x64/Debug/Project2.log
Project2/Project2/x64/Debug/Project2.obj
Project2/Project2/x64/Debug/qrc_ImageViewer.obj
Project2/Project2/x64/Debug/qrc_Project2.obj
Project2/Project2/x64/Debug/qt_work.log
Project2/Project2/x64/Debug/vc142.pdb
Project2/Project2/x64/Debug/ViewerWidget.obj
Project2/Project2/x64/Debug/moc/moc_ImageViewer.cpp
Project2/Project2/x64/Debug/moc/moc_NewImageDialog.cpp
Project2/Project2/x64/Debug/moc/moc_ObjectLayers.cpp
Project2/Project2/x64/Debug/moc/moc_Project2.cpp
Project2/Project2/x64/Debug/moc/moc_ViewerWidget.cpp
Project2/Project2/x64/Debug/Project2.tlog/CL.17320.write.1.tlog
Project2/Project2/x64/Debug/Project2.tlog/CL.command.1.tlog
Project2/Project2/x64/Debug/Project2.tlog/CL.read.1.tlog
Project2/Project2/x64/Debug/Project2.tlog/link.command.1.tlog
Project2/Project2/x64/Debug/Project2.tlog/link.read.1.tlog
Project2/Project2/x64/Debug/Project2.tlog/link.write.1.tlog
Project2/Project2/x64/Debug/Project2.tlog/moc.read.1u.tlog
Project2/Project2/x64/Debug/Project2.tlog/moc.write.1u.tlog
Project2/Project2/x64/Debug/Project2.tlog/Project2.lastbuildstate
Project2/Project2/x64/Debug/Project2.tlog/Project2.write.1u.tlog
Project2/Project2/x64/Debug/Project2.tlog/rcc.read.1u.tlog
Project2/Project2/x64/Debug/Project2.tlog/rcc.write.1u.tlog
Project2/Project2/x64/Debug/Project2.tlog/uic.read.1u.tlog
Project2/Project2/x64/Debug/Project2.tlog/uic.write.1u.tlog
Project2/Project2/x64/Debug/qmake/qtvars_x64_Debug.props
Project2/Project2/x64/Debug/rcc/qrc_ImageViewer.cpp
Project2/Project2/x64/Debug/rcc/qrc_Project2.cpp
Project2/Project2/x64/Debug/uic/ui_Project2.h
Project2/Project2/x64/Release/qmake/qtvars_x64_Release.props
Project2/x64/Debug/Project2.exe
Project2/x64/Debug/Project2.ilk
Project2/x64/Debug/Project2.pdb
Project2/.vs/Project2/v16/ipch/AutoPCH/a36f22eb7f9be3e3/IMAGEVIEWER.ipch
Project2/Project2/x64/Debug/Project2.tlog/CL.write.1.tlog
Project2/.vs/Project2/v16/ipch/AutoPCH/65c580e083564aa8/VIEWERWIDGET.ipch
Project2/.vs/Project2/v16/ipch/AutoPCH/2435a11a56d04055/MOC_IMAGEVIEWER.ipch
Project2/Project2/ProgramState.txt
